openai
groq
google-generativeai
mistralai

langchain
langchain-openai
langchain-google-genai
langchain-community

python-dotenv
requests
pydantic
tiktoken

fastapi
uvicorn

jupyter
ipykernel

langchain-huggingface-hub